name: Android CI/CD Library

on:
  workflow_dispatch:

env:
  PACKAGE_NAME: appambit-sdk
  BUILD_PATH: build/outputs/aar/appambit-sdk-release.aar

permissions:
  contents: write

jobs:
  build:
    name: Build Android Library with Version
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Clean project
        run: ./gradlew clean

      - name: Build project
        run: ./gradlew :${{ env.PACKAGE_NAME }}:build

      - name: Build with Gradle
        run: ./gradlew :${{ env.PACKAGE_NAME }}:assembleRelease

      - name: Rename AAR with version
        run: |
          mkdir -p artifacts
          cp ${{ env.PACKAGE_NAME }}/${{ env.BUILD_PATH }} artifacts/${{ env.PACKAGE_NAME }}-${{ steps.version.outputs.version_name }}.aar

      - name: Upload AAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}-${{ steps.version.outputs.version_name }}
          path: artifacts/${{ env.PACKAGE_NAME }}-${{ steps.version.outputs.version_name }}.aar